.footer-container{
    background-color: #16168e;
}
.ft-p1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.footer-container img{
    width: 250px;
}
.contactanos-container{
    align-items: center;
    font-family: var(--fuente_ubuntu);
    color: var(--cl2);
    border: 1px solid #4746a4;
    border-radius: 10px;
    padding: 10px 20px;
}
.contactanos-container h6{
    font-size: 28px;
    border-right: 1px solid #4746a4;
    padding-right: 20px;
}
.info-container{
    padding-left: 20px;
}
.info-container p {
    margin: 0;
}
.info-container p a{
    text-decoration: none;
}

.social-btn{
    width: 40px;
    height: 38px;
    background-color: #3c3ca1 !important;
    border-radius: 50% !important;
    border: none !important;
    transition: transform 0.3s ease-in-out;
}
.social-btn:hover{
    transform: scale(1.1);
}
.ft-p2{
    padding: 30px;
    color: var(--cl2);
    font-family: var(--fuente_ubuntu);
}
.ft-p2 span{
    font-size: 13px;
}

@media (max-width: 768px) {
    .ft-p1{
        flex-direction: column !important;
        gap: 50px;
    }
    .ft-p2 span{
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .ft-p1{
        flex-direction: column !important;
        gap: 50px;
    }
    .ft-p2 span{
        font-size: 10px;
        text-align: center;
    }
    .contactanos-container h6{
    font-size: 20px;
    }
    .info-container p {
        font-size: 10px;
    }
}