.nav_bar{
height: 100px ;
padding-left: 10px !important;
background-color: #000000c5;
}
.item_nav{
    height: 100px;
}
.item_nav ul li {
    display: flex;
    align-items: center;
    transition: .5s;
}
.item_nav ul li:hover{
    background-color: var(--cl3);
    transition: .5s;
}
.item_nav ul li a {
    padding: 0 1vw !important;
}
.divisor{
    height: 100px;
    color: #ffffff !important;
}.nav-logo__img{
    width: 200px;
}
.span_logos{
    font-size: 35px ;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.btn_form{
    width: 20%;
    height: 100%;
}
.btn_form::before{
    content: url('/src/img/icons/chat-square-dots-fill.svg');
    animation: sms .5s;
    /* position: absolute; */
}
.btn_form:hover::before{
    display: none;
}
.btn_form:hover::after{
    content: url('/src/img/icons/chat-square-dots-fill.svg');
}


@keyframes sms {
    0%{
        transform: translateY(0);
    }
    100% {
      transform:  translateY(100px) !important;
      }
    }
    
@media (max-width: 1545px){
.nav_bar_items{
    font-size: 15px;
}
.span_logos{
    font-size: 25px ;
}
.nav-logo__img{
    width: 150px;
}
}
@media (max-width: 1360px){
    .nav_bar_items{
        font-size: 13px;
    }
    .span_logos{
        font-size: 28px ;
    }
    .nav-logo__img{
        width: 150px;
    }
}
@media (max-width: 768px){
    .span_logos{
        font-size: 32px ;
    }
    .nav-logo__img{
        width: 200px;
    }
    .btn_nav{
        background-color: var(--cl2) !important;
        margin-right: 20px !important;
    }
    .navbar-collapse{
        background-color: var(--cl5);
        margin: 16px 0 0 -10px;
        padding: 10px;
        height: 250px;
    }
    .btn_form{
        width: 200px;
        height: 80px;
        font-family: var(--fuente_ubutu);
    }
}
@media (max-width: 425px){
    .span_logos{
        font-size: 25px ;
    }
    .nav-logo__img{
        width: 150px;
    }
    .btn_nav{
        background-color: var(--cl2) !important;
        margin-right: 20px !important;
    }
    .navbar-collapse{
        background-color: var(--cl5);
        margin: 32px 0 0 -10px;
        padding: 10px;
        height: 250px;
    }
}
